body{
    background-color: #252a34;
    margin: 0 auto;
}
 
.nav-bar{
    background-color: #08d9d6;
    padding: 1px;
    display: flex;
}

.logo{
    display: flex;
}


.navbar-nav{
    list-style: none;
    display: flex;
}

.nav-item{
    display: flex;
   
}

.nav-link{
    color:#252a34;
    text-decoration: none;
    padding-left: 40px;
   
}
.centrado{
    display: flex;
    align-items: center;
    font-size: large;

}
